*{
    margin: 0;
    padding: 0;
    transition: .4s;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1308px;
    margin: auto;
}
/* Begain Main CSS */
body,h1,h2,h3,h4,h5,h6,a,span,small{
    font-family: 'Work Sans', sans-serif;
    color: #010101;
}
.header-section{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0px
}
.header-logo{
    width: 30%;
}
.logo img {
    height: 45px;
    float: left;
    margin-right: 10px;
}
.logo span {
    display: inline-block;
    margin-top: 7px;
    font-size: 26px;
    font-weight: 500;
}
.header-menu {
    width: 57%;
}
.header-button {
    width: 13%;
    text-align: center;
}
.btn-header {
    display: inline-block;
    border: 2px solid #6278df;
    padding: 10px 30px;
    border-radius: 10px;
    color: #6278df;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a {
    display: block;
    padding: 0px 25px;
    font-size: 16px;
    line-height: 45px;
}
.primary-menu ul li a:hover{}
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul.demo-menu{
    width: 245px;
}
.primary-menu ul li ul.demo-menu li{
    width: 100%;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0%;
    top: 100%;
    width: 208px;
    background: #fff;
    opacity: 0; 
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.primary-menu ul li ul li{
    border-bottom: 1px solid #ddd;
}
.primary-menu ul li ul li:last-child{
    border: none;
}